.gallery ul {
  padding: 0px;
}
.gallery li {
    display: inline-block;
    width: 30%;
    height: 100px;
    cursor: pointer;
    position: relative;
}
.gallery li img{
    width: 100%;
}
.gallery li .overlay {
    position: absolute;
    width: 100%;
    height: 400%;
    left: 0;
    top: 0;
    background: rgba(58, 78, 48, 4)

}